#blog-wrapper {

    .post {

        .entry-footer {


            background-color: $gray-300;
            
            a:hover {

                text-decoration: none;

                color: $danger;
            }
        }

        .entry-header {

            .entry-meta {

                background-color: $gray-300;

                a:hover {

                    text-decoration: none;

                    color: $danger;
                }
            }
        }
    }
}