#wrapper-contact {

    h2 {

        color: white;
    }

    label, input {

        color: white;
        
        border-color: white;
    }

    .wpcf7-submit:hover {

        color: $info;

        background-color: white;
    }
}