#wrapper-dogs-frontpage {

    .card {

        background-color: #f9f9f9;

        width: 17rem;

        .card-body {

            height: 8rem;

            .card-title {

                a:hover {

                    text-decoration: none;
    
                    color: #c69e25
                }
            }

            a:hover {
                
                color: $primary;
                
                background-color: white;
            }
        }

        img {

            height: 13rem;
        }
    }
}