#wrapper-archive-dogs {

    .card {

        width: 18rem;

        .list-group-item {

            background-color: #f9f9f9;

            a {

                color: white;

                background-color: $danger;

                padding: 5px;
            }

            a:hover {

                text-decoration: none;
            }
        }

        .card-body {

            background-color: #f9f9f9;

            .card-title {

                a:hover {

                    text-decoration: none;
    
                    color: $danger;
                }
            }   
        }

        .card-image {

            height: 16rem;
        }
    }
}

#archive-wrapper {

    .entry-content {

        p {

            padding-left: 0.25rem;
        }
    }
}