#wrapper-dogs-frontpage {

    .card {

        background-color: #f9f9f9;

        width: 16rem;

        .card-body {

            height: 8rem;

            .card-title {

                a:hover {

                    text-decoration: none;
    
                    color: $danger;
                }
            }

            .btn:hover {
                
                color: white;
                
                background-color: $danger;
            }
        }

        img {

            height: 16rem;
        }
    }
}