#wrapper-dog-single {

    article {

        .dog-single-content {

            p {

                padding: 1rem;
                padding-top: 0;

                margin: 0;
            }
        }

        ul {

            .append-area {
                
                background-color: $gray-300;

                width: 6rem;
            }
        }
    }
}