.card {

    width: 18rem;

    .card-body {

        background-color: #f9f9f9;

        a:hover {
            
            color: $primary;
            background-color: white;
        }
    }

    img {
        height: 10rem;
    }
    
}