#wrapper-dogs-frontpage {

    .card {

        width: 18rem; // the max width with 3 .col per page

        .btn {

            position: absolute;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            top: 16.8rem;
            left: 50%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.75);
            color: rgba($danger, 1.0);
            border-color: $danger;
            border-radius: 0;
        }

        .btn:hover {

            color: white;

            background-color: $danger;
        }

        .card-image {

            height: 18rem;
        }
    }
}