#content {

    #main {

        width: 100vw;

        .jumbotron {

            display: flex;

            align-items: center;
           
            height: 40rem;

            @include media-breakpoint-down(sm) {

                height: 15rem;

                .display-3, .display-4 {

                    font-size: 1.5rem;

                    font-weight: 400;
                }
            }
        }
    }
}