#content {

    #main {

        width: 100vw;

        .jumbotron {

            display: flex;

            align-items: center;
           
            height: 40rem;

            @media screen and (max-width: 767px) {

                height: 15rem;
            }
        }
    }
}