.container {

    nav {

        padding-top: 2rem;

        display: flex;
        justify-content: center;

        ul {

            margin: 0;

            .page-item {

                .page-link {

                    color: white;

                    background-color: $danger;

                    border-color: black;
                }

                .current {

                    color: $danger;

                    background-color: white;
                }

                :hover {

                    color: $danger;

                    background-color: white;
                }
            }

            .page-item-active {

                border-color: #870d00;
            }
        }
    }
}