article {

    .entry-summary {

        a:hover {

            background-color: white;

            color: $primary;
        }
    }

    .entry-footer, .cat-links, .tags-links {

        background-color: $gray-300;

        a:hover {

            text-decoration: none;

            color: #c69e25
        }
    }

    .entry-header {

        .entry-meta {

            background-color: $gray-300;

        }

        a:hover {

            text-decoration: none;

            color: #c69e25;
        }
    }
}