article {

    .entry-summary {

        a:hover {

            background-color: $danger;

            color: white;
        }
    }

    .entry-footer, .cat-links, .tags-links {

        background-color: $gray-300;

        a:hover {

            text-decoration: none;

            color: $danger;
        }
    }

    .entry-header {

        .entry-meta {

            background-color: $gray-300;
        }

        a:hover {

            text-decoration: none;

            color: $danger;
        }
    }
}